
		h2
		{
			color: #e6ffff;

		}
		.form-control
		{
			width: 200px;
			height: 30px;
		}
		.body
		{
			background-color: #00cc99;
			width: 400px;
			padding: 20px;
			margin-top: 50px;
		}
		.btn
		{
			width: 150px;
		}
		.middle
		{
			padding-top: 20px;
		}
		.textbox,.btn
		{
			margin-left: 70px;
		}
		body{
			background-color: #e6e6e6;
		}